docs/*                    linguist-documentation
misc/*                    linguist-documentation
sandbox/*                 linguist-documentation

*.mips                    linguist-vendored
*.asm                     linguist-vendored
sandbox/asm/*             linguist-vendored

src/Runtime/rt_gen_gc2.s  linguist-vendored

*.inc                     linguist-language=Assembly
*.s                       linguist-language=Assembly
*.cool                    linguist-language=Scala